* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 710px 350px 90px;
}

nav {
    background-color: rgb(240, 227, 114);
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.7rem;
    margin: 0;
    height: 100%;
    box-shadow: 0 0 5px 0 #33311c;
    z-index: 4;
}

#forlogo {
    display: flex;
    align-items: flex-end;
}

#logo {
    font-size: 2.5rem;
    color: #333;
}

#logoName {
    white-space: nowrap;
    color: #333;
}

#forNav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: .5;
    height: 100%;
    align-items: center;
    margin: 0;
}

.group {
    white-space: nowrap;
    display: flex;
}

.nav {
    margin: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1.1rem;
}

.nav>a {
    text-decoration: none;
    color: #333;
}

.nav:hover {
    background-color: rgb(129, 124, 72);
}

#content {
    background-color: rgba(240, 230, 140, 0.753);
    grid-column: 1/-2;
    box-shadow: 0 3px 5px 0 rgb(129, 124, 72);
    z-index: 2;
    /* Aşağıdaki kodlar foto galeri içindir */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 60px;
    grid-auto-rows: 100px;
    gap: 5px;
    padding: 1rem;
    overflow: hidden;
}

#baslik {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    margin: .4rem;
    font-size: 2.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .2rem;
    color: #333;
    
}

.kutu>div>img {
    filter: grayscale();
    
}
#content>div{
    z-index: -3;
}

.kutu>div>img:hover {
    filter: grayscale(0);
    transition: 0.2s;
}

.v {
    grid-row: span 2;
}

.h {
    grid-column: span 2;
}

.b {
    grid-row: span 2;
    grid-column: span 2;
}

.t {
    grid-row: span 1;
    grid-column: span 1;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#categories {
    background-color: rgba(236, 225, 119, 0.801);
    box-shadow: 0 3px 5px 0 rgb(129, 124, 72);
    z-index: 3;
}

#categories>h2 {
    text-align: center;
    background-color: hsl(54, 58%, 62%);
    padding: 1rem;
    box-shadow: 0 .5px 5px -1px rgb(63, 60, 28);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .1rem;
    color: #333;
}

.kategori {
    margin: .8rem;
    margin-left: 1.8rem;
    font-size: 1.4rem;
}

.kategori>a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 0rem .5rem;
}

.kategori>a:hover {
    box-shadow: 0 -2px 5px -4px black, 0 4px 5px -4px black;
}

#recommended {
    padding: .5rem;
   
    background-color: rgb(224, 205, 120);
    grid-column: 1/-1;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgb(129, 124, 72);
    overflow: hidden;
}

#recommended>h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .2rem;
    color: white;
}

.tanitim {
    margin: 0;
    margin-top: .3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

#fotolar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

footer {
    background-color: rgb(240, 227, 114);
    grid-column: 1/-1;
    box-shadow: inset 0 0px 15px 0 rgb(129, 124, 72);
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    box-shadow: 0 0 0.3rem 0px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>span {
    color: #333;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
}

span#sene {
    font-size: 1rem;
}